.background-banda{
    background-image: url(../images/AWmUyJ.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}

// Contenedor para informacion y foto del miembro

.member-item{
    @include flex-container (row, 100%, 100%, 30px 40px, 40px);
}


.member-item-reverse{
    @include flex-container (row-reverse, 100%, 100%, 30px 40px, 40px);
    text-align: end;
}

// Contenedor para imagen del miembro

.pics-container{
    width: 60%;
    height: 100%;
    overflow: auto;
    box-shadow: 5px 5px 5px 5px rgb(27, 27, 27);
}
.member-pic{
    width: 100%;
    height: 700px;
    object-fit: cover;
    overflow: hidden;
}


// Contenedor para el nombre e informacion del miembro

.member-info-container{
    width: 60%;
    height: 100%;
    overflow: auto;
    .member-name{
        font-family: 'Fontspring-DEMO-proximanovacond-black';
        font-size: 6rem;
        color: black;
    }
    .member-history{
        font-family: 'SchibstedGrotesk-Regular';
        font-size: 18px;
        color: black;
        margin: 0;
    }
}