.background-banda{
    min-height: 100vh;
    max-height: 100%;
    background: linear-gradient(175deg, rgba(235, 235, 235, 0.863), rgba(212, 212, 212, 0.801)), url(../images/bakugan.jpg);
    background-size: cover;
    background-attachment: fixed;
}

// Contenedor para informacion y foto del miembro

.member-item{
    @include flex-container (row, 100%, 100%, 30px 40px, 40px);
    animation: aparecer-izquierda 2s forwards;
    opacity: 0;
}


.member-item-reverse{
    @include flex-container (row-reverse, 100%, 100%, 30px 40px, 40px);
    text-align: end;
    animation: aparecer-derecha 2s forwards;
    opacity: 0;
}

// Contenedor para imagen del miembro

.pics-container{
    width: 60%;
    height: 100%;
    overflow: auto;
    box-shadow: 5px 5px 5px 5px rgb(27, 27, 27);
}
.member-pic{
    width: 100%;
    height: 700px;
    object-fit: cover;
    overflow: hidden;
}


// Contenedor para el nombre e informacion del miembro

.member-info-container{
    width: 60%;
    height: 100%;
    overflow: auto;
    .member-name{
        font-family: 'Fontspring-DEMO-proximanovacond-black';
        font-size: 6rem;
        color: black;
        animation: aparecer-atenuado 4s forwards;
        opacity: 0;
    }
    .member-history{
        font-family: 'SchibstedGrotesk-Regular';
        font-size: 18px;
        color: black;
        margin: 0;
        animation: aparecer-atenuado 4s forwards;
        opacity: 0;
    }
}