.background-discografia{
    background-image: url(../images/AWmUyJ.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
}

// Contenedor para album e informacion

.album-box{
    @include flex-container-nodirection(100%, 100%, 20px 30px, 20px);
    margin: 5px;
    overflow: auto;
    .album-info-container{
        width: 100%;
        height: 100%;
    }
    .album-title{
        font-family: 'Fontspring-DEMO-proximanovacond-black';
        font-size: 5rem;
        color: black;
    }
    .album-text{
        font-family: 'SchibstedGrotesk-Regular';
        font-size: 18px;
        color: black;

    }

    .album-pic-container{
        width: 100%;
        height: 100%;
    }
    .album-img{
        width: 800px;
        height: 800px;
        box-shadow: 5px 5px 5px 5px rgb(27, 27, 27);
    }

    //Boton de Spotify
    
    .spotify-button{
        align-self: flex-end;
    }
    .spotify-link{
        font-family: 'Fontspring-DEMO-proximanova-bold';
        font-size: 0.8rem;
        text-decoration: none;
        color: black;
        border-radius: 2px;
    }
}