//Media Queries para index.html

@media (max-width: 1366px) {
    .history-container{
        align-items: center;
        .history-title{
            font-size: 2rem;
        }
        .band-history-text{
            font-size: 11px;
        }
        .history-pic-container{
            width: 100%;
            height: 100%;
            .history-pic{
                align-self: center;
                width: 100%;
                height: 100%;
            }
        }
    }
    .history-container-reverse{
        align-items: center;
        .history-title{
            font-size: 2rem;
        }
        .band-history-text{
            font-size: 11px;
        }
        .history-pic-container{
            width: 100%;
            height: 100%;
            .history-pic{
                align-self: center;
                width: 100%;
                height: 100%;
            }
        }
    }

    .release-container
    {
        align-items: center;
        .release-album{
            width: 35%;
            height: 35%;
        }
        .release-album-title{
            font-size: 4rem;
        }
        .band-history-text{
            font-size: 13px;
            margin-bottom: 0;
        }
    }

.nextdates-container{
    width: auto;
    height: 300px;
    gap: 40px;
    .nextdate-items{
        width: 100%;
        height: 250px;
        font-size: 2rem;
    }
    .nextdate-button{
        justify-content: center;
    }
    .next-date{
        font-size: 18px;
    }}


}


    @media (max-width:1030px){
        .history-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            .history-pic-container{
                width: 60%;
                height: 60%;
                .history-pic{
                    align-self: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    

    .history-info-container{
        width: 100%;
        height: 100%;
        justify-content: center;

        .history-title{
            text-align: center;
        }
        .band-history-text{
            text-align: center;
            
        }
    }

    .history-container-reverse{
        .history-title{
            text-align: center;
        }
        .band-history-text{
            text-align: center;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        .history-pic-container{
            width: 60%;
            height: 60%;
            .history-pic{
                align-self: center;
                width: 100%;
                height: 100%;
            }
        }
    }
        .release-container{
        align-items: center;
        .release-album{
            width: 35%;
            height: 35%;
        }
        .release-album-title{
            font-size: 4rem;
        }
        .band-history-text{
            font-size: 10px;
            margin-bottom: 0;
        }
    }

    .nextdates-container{
        flex-direction: column;
        align-self: center;
        width: 400px;
        height: 100%;
        gap: 40px;
        .nextdate-items{
            width: 100%;
            height: 250px;
            font-size: 2rem;
        }
        .nextdate-button{
            justify-content: center;
        }
        .next-date{
            font-size: 18px;
        }}
    


}

@media (max-width:880px){

        .banner-container{
            width: 100%;
            height: 400px;
            h1{
                width: 100%;
                height: auto;
                font-size: 6rem;
            }
        } 

    .release-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .release-album{
            width: 45%;
            height: 45%;
        }
        .release-album-title{
            font-size: 4rem;
            text-align: center;
        }
        .band-history-text{
            font-size: 10px;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

.nextdates-container{
    width: 100%;
    height: 100%;
    gap: 40px;

    .nextdate-items{
        width: 400px;
        height: 250px;
        font-size: 2rem;
        align-self: center;
        .nextdate-button{
            justify-content: center;
            font-size: 16px;
        }
        .next-date{
            font-size: 18px;
        }
        .nextdate-place{
            font-size: 18px;
        }
    
        .nextdate-country{
            font-size: 26px;
        }
    }


}

@media (max-width:680px){
    .banner-container{
        width: 100%;
        height: 200px;
        h1{
            width: 100%;
            height: auto;
            font-size: 6rem;
        }
    } 

    .history-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .history-pic-container{
            width: 55%;
            height: 55%;
            .history-pic{
                align-self: center;
                width: 100%;
                height: 100%;
            }
        }
    }


.history-info-container{
    width: 100%;
    height: 100%;
    justify-content: center;

    .history-title{
        text-align: center;
        font-size: 2rem;
    }
    .band-history-text{
        text-align: center;
        font-size: 9px;
    }
}

.history-container-reverse{
    .history-title{
        text-align: center;
        font-size: 2rem;
    }
    .band-history-text{
        text-align: center;
        font-size: 9px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .history-pic-container{
        width: 60%;
        height: 60%;
        .history-pic{
            align-self: center;
            width: 100%;
            height: 100%;
        }
    }
}

.release-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .release-album{
        width: 45%;
        height: 45%;
    }
    .release-album-title{
        font-size: 4rem;
        text-align: center;
    }
    .band-history-text{
        font-size: 9px;
        text-align: center;
        margin-bottom: 0;
    }
}

.nextdates-container{
    flex-direction: column;
    align-self: center;
    width: 350px;
    height: 100%;
    gap: 40px;
    .nextdate-items{
        width: 100%;
        height: 250px;
        font-size: 2rem;
        .nextdate-button{
            justify-content: center;
            font-size: 16px;
        }
        .next-date{
            font-size: 16px;
        }
        .nextdate-place{
            font-size: 16px;
        }
    
        .nextdate-country{
            font-size: 25px;
        }
    }
    
    
    }


}




@media (max-width:550px){
    .banner-container{
        h1{
            width: 100%;
            height: auto;
            font-size: 6rem;
        }
    } 

    .nextdates-container{
        flex-direction: column;
        align-self: center;
        width: 100%;
        height: 100%;
        gap: 40px;
        .nextdate-items{
            width: 100%;
            height: 200px;
            font-size: 2rem;
            .nextdate-button{
                justify-content: right;
                .nextdate-link{
                    font-size: 9px;
                }
        
            }
            .next-date{
                font-size: 9px;
            }
            .nextdate-place{
                font-size: 9px;
            }
        
            .nextdate-country{
                font-size: 20px;
            }
        }
        }

    .history-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .history-pic-container{
            width: 60%;
            height: 60%;
            .history-pic{
                align-self: center;
                width: 100%;
                height: 100%;
            }
        }
    }


.history-info-container{
    width: 100%;
    height: 100%;
    justify-content: center;

    .history-title{
        text-align: center;
        font-size: 2rem;
    }
    .band-history-text{
        text-align: center;
        font-size: 7px;
    }
}

.history-container-reverse{
    .history-title{
        text-align: center;
        font-size: 2rem;
    }
    .band-history-text{
        text-align: center;
        font-size: 7px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .history-pic-container{
        width: 60%;
        height: 60%;
        .history-pic{
            align-self: center;
            width: 100%;
            height: 100%;
        }
    }
}

.release-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .release-album{
        width: 45%;
        height: 45%;
    }
    .release-album-title{
        font-size: 3rem;
        text-align: center;
    }
    .band-history-text{
        font-size: 7px;
        text-align: center;
        margin-bottom: 0;
    }
}


}



@media (max-width:400px){

    .nextdates-container{
        flex-direction: column;
        align-self: center;
        width: 100%;
        height: 100%;
        gap: 40px;
        .nextdate-items{
            width: 100%;
            height: 250px;
            font-size: 2rem;
            .nextdate-button{
                justify-content: right;
                .nextdate-link{
                    font-size: 9px;
                }
        
            }
            .next-date{
                font-size: 9px;
            }
            .nextdate-place{
                font-size: 9px;
            }
        
            .nextdate-country{
                font-size: 20px;
            }
        }
        
        }
    .banner-container{
        h1{
            width: 100%;
            height: auto;
            font-size: 6rem;
        }
    } 

    .history-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .history-pic-container{
            width: 80%;
            height: 80%;
            .history-pic{
                align-self: center;
                width: 100%;
                height: 100%;
            }
        }
    }


.history-info-container{
    width: 100%;
    height: 100%;
    justify-content: center;

    .history-title{
        text-align: center;
        font-size: 2rem;
    }
    .band-history-text{
        text-align: center;
        font-size: 6px;
    }
}

.history-container-reverse{
    .history-title{
        text-align: center;
        font-size: 1.5rem;
    }
    .band-history-text{
        text-align: center;
        font-size: 6px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .history-pic-container{
        width: 80%;
        height: 80%;
        .history-pic{
            align-self: center;
            width: 100%;
            height: 100%;
        }
    }
}

.release-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .release-album{
        width: 80%;
        height: 80%;
    }
    .release-album-title{
        font-size: 3rem;
        text-align: center;
    }
    .band-history-text{
        font-size: 6px;
        text-align: center;
        margin-bottom: 0;
    }
}
}





    /* Media Queries para Banda.html */

    @media (max-width: 1400px){
    
        .member-item{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        overflow: hidden;
        .pics-container{
            width: 100%;
            height: 100%;
        }
        .member-pic{
            width: 100%;
            height: 100%;
        }
        .member-info-container{
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

        .member-item-reverse{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .pics-container{
            width: 100%;
            height: 100%;
        }
        .member-pic{
            width: 100%;
            height: 100%;
        }
        .member-info-container{
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }


}


@media (max-width: 910px){
    .member-info-container{
    .member-name{
        font-size: 5rem;
    }
}}

@media (max-width: 650px){
    .member-info-container{
    .member-name{
        font-size: 4rem;
    }
    .member-history{
        font-size: 16px;
    }
}
}

@media (max-width: 532px){
    .member-info-container{
    .member-name{
        font-size: 3rem;
    }
    .member-history{
        font-size: 14px;
    }}}


/* Media Queries para Discografia.html */


@media (max-width: 1581px){
    .album-box{
        flex-direction: column;
        text-align: center;
        background-color: transparent;
        .album-info-container{
            padding: 10px 20px;
            }
            .spotify-button{
                align-self: center;
                height: 29px;
                width: 84px;
            }
            .spotify-link:hover{
                color:crimson;
                font-size: 15px;
                transition: 0.5s;
            }
        }
    }

@media (max-width: 888px){

    .album-pic-container{
        width: 500px;
        height: 500px;
        align-self: center;
        .album-img{
            width: 500px;
            height: 500px;
        }}
        .album-info-container{
            .album-title{
                font-size: 4rem;
            }
        }
    }




@media (max-width: 570px){

    .album-pic-container{
        width: 400px;
        height: 400px;
        align-self: center;
        .album-img{
            width: 400px;
            height: 400px;
            }
        }

        .album-box{
        .album-info-container{
            width: 100%;
            height: 100%;
            text-align: center;
        }
        .album-text{
            font-size: 14px;
        }}}


@media (max-width: 478px){
    .album-pic-container{
        width: 300px;
        height: 300px;
        align-self: center;
        .album-img{
        width: 300px;
        height: 300px;
        }
        }
        .album-info-container{
        .album-title{
        font-size: 3rem;
        }}}

        @media (max-width: 360px){
            .album-pic-container{
                width: 200px;
                height: 200px;
                align-self: center;
                .album-img{
                width: 200px;
                height: 200px;
                }
                }
                .album-info-container{
                .album-title{
                font-size: 2rem;
                }}}
        

/* Media Queries para tour.html */

@media ( max-width: 1410px){
    .date-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .video-container{
        flex-direction: column;
        width: 100%;
        height: 100%;
        .video-item{
            justify-self: center;
            width: 100%;
            height: 100%;
        }
    }
} 
@media( max-width: 930px){
    .date-box{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media( max-width: 512px){
    .date-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        .date-item{
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }

    .video-item{
        width: 100%;
        height: 100%;
    }
    .common-titles{
        font-size: 2rem;
    }
}

/* Media Queries para Galeria.html */


@media (min-width:640px ) and (max-width: 1024px){
    .gallery-box{
        display: flex;
        flex-direction: column;
    }
    .pic-gallery{
        width: 100%;
        height: 100%;
        object-fit:  contain;
    }
}

@media (min-width:320px ) and (max-width: 640px){
    .gallery-box{
        display: flex;
        flex-direction: column;
    }
    .pic-gallery{
        width: auto;
        height: auto;
        object-fit:  contain;
    }
}

/* Media Queries para Main h1*/

@media ( min-width: 1024px) and (max-width: 1370px){    
    .banner-container{
        width: 100%;
        height: 768px;
        h1{
            width: 100%;
            height: auto;
            font-size: 9rem;
        }
    } 
}

@media (min-width: 768px) and ( max-width: 1024px){   
    .banner-container{
        width: 100%;
        height: 650px;
        h1{
            width: 100%;
            height: auto;
            font-size: 7.5rem;
        }
    } 
} 


@media (min-width: 600px) and ( max-width: 768px){    
    .banner-container{
        width: 100%;
        height: 500px;
        h1{
            width: 100%;
            height: auto;
            font-size: 6rem;
        }
    } 
}

@media (min-width: 600px) and ( max-width: 600px){    
    .banner-container{
        width: 100%;
        height: 865px;
        h1{
            width: 100%;
            height: auto;
            font-size: 4.5rem;
        }
    } 
}

@media (min-width: 320px) and ( max-width: 456px){    
    .banner-container{
        width: 100%;
        height: 865px;
        h1{
            width: 100%;
            height: auto;
            font-size: 3.3rem;
        }
    } 
}


.spotify-link:hover{
    color:crimson;
    transition: 0.5s;
}

.buytickets-link:hover{
    color:crimson;
    font-size: 18px;
    transition: 0.5s;

}

.pic-gallery:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;

}