@mixin flex-container($direction, $width, $height, $padding, $gap){
    display: flex;
    flex-direction: $direction;
    width: $width;
    height: $height;
    padding: $padding;
    gap: $gap;
}

@mixin flex-container-nodirection($width, $height, $padding, $gap,) {
    display: flex;
    height: $height;
    width: $width;
    padding: $padding;
    gap: $gap;
}

// Keyframes

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes aparecer-derecha {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes aparecer-izquierda {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes aparecer-atenuado {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes aparecer-derecha-atenuado {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(100%);
        opacity: 1;
    }
    50% {
        transform: translateX(100%);
        opacity: 1;
    }

}

@keyframes aparecer-izquierda-atenuado {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-100%);
        opacity: 1;
    }
    50% {
        transform: translateX(-100%);
        opacity: 1;
    }
}

@keyframes aparecer-abajo-arriba{
    from {
        transform: translateY(150%);
        opacity: 0;
    }
    
    to{
        transform: translateY(0);
    }
}
